<header>
    <div class="grid">
        <div class="col-3 logo">
            <img src="../../../assets/abc.png" style="height: 60px; width: 60px;" alt="logo">
            
        </div>

        <div class="col-4 search">
           <product-search></product-search>
        </div>

        <div class="col-3 offset-1 nav">
            <userapp-navmenu></userapp-navmenu>
        </div>
        <div class="p-col-1 actions">
            <i class="pi pi-user" style="font-size: 2rem"></i> <span class="username"></span>
            <orders-cart-icon></orders-cart-icon>
        </div>
    </div>
</header>
