<footer>

    <div class="row-footer">
      <div class="site-logo">
        <span>NowNThen Jwellery</span>
        <ul class="main-nav">
          <li class="item1">
            <span>G</span>
          </li>
          <li class="item2">
            <span>O</span>
          </li>
          <li class="item3">
            <span>L</span>
          </li>
          <li class="item4">
            <span>D</span>
          </li>
        </ul>
      </div>
      <div class="site-links">
        <span>Services</span>
        <ul class="list-links">
          <li><a>Gold</a></li>
          <li><a>Silver</a></li>
          <li><a>Antiques</a></li>
          <li><a>Diamonds</a></li>
        </ul>
      </div>
      <div class="adr-email">
        <span>Contact</span>
        <ul class="">
          <li class="location"><a><i class="fas fa-map-pin"></i>Patna, Bihar</a></li>
          <li class="email"><a href="">gyan@gmail.com</a></li>
          <li class="phone">7735850093</li>
        </ul>
      </div>
      <div class="subscribe-form">
        <input type="email" placeholder="Your E-Mail Address">
        <button type="submit">Subscribe</button>
        <p>I respect your privacy. Unsubscribe at any time.</p>
      </div>
    </div>
  
    <hr>
  
    <div class="row-footer">
      <div class="follow-icons">
        <li><span>Follow us here</span></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      </div>
    </div>
  
  
    <div class="row-footer">
      <div class="right-dis">Made with <i style="color: red; font-size: 12px;" class="fas fa-heart"></i> by <strong>Gyan Prakash</strong></div>
      <div class="left-dis">Copyright <strong>MTX</strong> © 2021. All the rights are reserved.</div>
    </div>
  
  </footer>
