<p-accordion [multiple]="true">
  <p-accordionTab header="Header 1"> Content 1 </p-accordionTab>
  <p-accordionTab header="Header 2"> Content 2 </p-accordionTab>
  <p-accordionTab header="Header 3"> Content 3 </p-accordionTab>
</p-accordion>
<div class="grid">
  <div class="col-12 md:col-6 lg:col-3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum recusandae ullam tempora porro suscipit, dolores fugiat aperiam beatae excepturi qui, esse ipsa similique omnis quas. Laudantium sit deserunt maiores nihil praesentium provident.</p></div>
  <div class="col-12 md:col-6 lg:col-3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum recusandae ullam tempora porro suscipit, dolores fugiat aperiam beatae excepturi qui, esse ipsa similique omnis quas. Laudantium sit deserunt maiores nihil praesentium provident.</p></div>
  <div class="col-12 md:col-6 lg:col-3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum recusandae ullam tempora porro suscipit, dolores fugiat aperiam beatae excepturi qui, esse ipsa similique omnis quas. Laudantium sit deserunt maiores nihil praesentium provident.</p></div>
  <div class="col-12 md:col-6 lg:col-3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum recusandae ullam tempora porro suscipit, dolores fugiat aperiam beatae excepturi qui, esse ipsa similique omnis quas. Laudantium sit deserunt maiores nihil praesentium provident.</p></div>
</div>
