h2{
    color: antiquewhite;
    
}
ul{
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    margin: 20px;

}
li {
    display: block;
    list-style: none;
    width: 100%;
}

.admin-wrapper{
    height: 100%;
    padding: 0;
    margin: 0;
}

.admin-sidenav{
    position: fixed;
    width: 200px;
    background-color: rgb(22, 20, 20);
    height: 100%;
    top: 0;
    left: 0%;
}

.admin-content{
    width: calc(100% - 200px);
    margin-left: 205px;
}

img{
    padding: 10px;
    margin-left: 40px;
    margin-top: 20px;
    width: 120px;
    height: 120px;
}

a {
    color: var(--surface-a);
    padding: 10px 15px;
    display: block;
    width: 100%;
    text-decoration: none;
}
/* a:hover {
    background-color: var(--blue-800);
  } */

  a:hover:not(.active) {
    color: var(--surface-a);
    color: #00eeff;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    
  }
  
  i {
    margin-right: 8px;
    margin-top: 0;
    float: left;
  }

  .logout {
    color: var(--blue-500);
  }


  
  .admin-catogies{
      padding: 15px;
  }

  .d-item{
      display: flex;
      text-align: center;
      color: white;
      
  }

  .d-user{
        display: flex;
        text-align: center;
        transition: transform .2s;
        background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

  }
  .d-user:hover{
    transform: scale(1.1);
  }

  .d-sales{
    display: flex;
    text-align: center;
    transition: transform .2s;
    background-color: #74EBD5;
background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

}
.d-sales:hover{
transform: scale(1.1);
}

.d-products{
    display: flex;
    text-align: center;
    transition: transform .2s;
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
    
    
}
.d-products:hover{
transform: scale(1.1);
}

.d-orders{
    display: flex;
    text-align: center;
    transition: transform .2s;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
}
.d-orders:hover{
transform: scale(1.1);
}

.name{
      font-size: 1.5em;
      font-weight: bold;

  }

  .name:hover{
    cursor: pointer;
    color: black;
  }

  .number{

      font-size: 1.5em;
      transition: transform .2s;
      float: right;
      margin-left: 20px;
  }

  .number:hover{
    transform: scale(1.2);
    color: black;
  }

  .pi{
    transition: transform .2s;
  }

  .pi:hover{
    transform: scale(1.2);
  }


